# Working Directories
/_site
/.sass-cache
/.jekyll-metadata
/.bundle
/.yardoc
/_yardoc
/coverage
/doc
/pkg
/tmp
/vendor/cache
/vendor/bundle
/node_modules

# IDE and Text Editor
/.idea
/.vscode

# Gem
*.gem

# For macOS
.DS_Store
